.App {
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
  background-color: #ecf4f3;
  padding-top: 75px;
  color: rgb(0, 106, 113);
}

.container {
  background-color: rgb(236, 244, 243);
  font-size: 15px;
}

.card-group {
  max-width: 750px;
  box-shadow: 5px 10px 45px #68b0ab;
}

.todayscard {
  max-width: 45%;
  background-color: #68b0ab;
}

.future-card {
  background-color: #68b0ab;
}

.minTemperature {
  color: #ecf4f3;
}

.maxTemperature {
  color: #006a71;
}

.second-card {
  color: #68b0ab;
}
