.futureDatesIcons {
  padding-right: 10px;
  color: #ff7e67;
  font-size: 30px;
}

.weekDays {
  color: #ecf4f3;
  font-size: 14px;
}
.minMaxFutureDays {
  font-size: 14px;
}

.icon-right {
  font-size: 30px;
}
